<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Storage" connectionString="DefaultEndpointsProtocol=http;AccountName=usc;AccountKey=fvjqSoISHGA2cZ6w8VGeMBoF/lzYdkQoQsEVceRb9HgY9R/44k6iMN59WDwqZ+12Jp+m7LWK+u2kyFsbnM+tFQ==" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
